* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    background:  #062e85;
}

 .dropdown {
     list-style-type: none;
 }

 .dropdown i {
display: flex;
justify-content: right;
 }

 


.jumbotron .star{
    display: flex;
    justify-content: center;
}

.star {
    justify-content: center;
display: flex;
align-items: center;

}

.line {
    width: 80px;
    background-color:white;
    height: 3px;
    
}


.row img {
    width: 100%;
}

.fa-star::before {
    color: white;
}

div.footer-btm {
    display: flex;
    justify-content: center;
}



div.footer-btm i{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 50px;
}

.around span{
    display: block;
}

.btm {
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

.btm div {
    padding-top: 20px;
    height: 80px;
}

.text-btm {
    display: inline;
    color: rgb(63, 165, 224);
}

.overlay {
    display: none;
    position: relative;
    width: 100%;
    background-color: hsla(209, 83%, 48%, 0.329);
    height: 100%;
}

.play-button  {
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
}

.img:hover .overlay,.play-button {
    display: block;
}

div.img:hover img {
display: none;
}

.fas.fa-star::before {
    color:black;
}

.about button {
    display: flex;
    width: 150px;
    align-self: center;

}